.pos {
  position: absolute;
  width: inherit;
  height: inherit;

  cursor: pointer;
  touch-action: none;
  /* background-color: rgb(255, 0, 43); */

  transform-origin: center center;
}

.pos:active {
  cursor: grab;
}

.scale {
  position: inherit;
  width: inherit;
  height: inherit;

  transition: scale 0.2s;
}
